<nav>
	<div class="email"><%= @email %></div><span>,</span>
	<div class="logout"><%= link_to 'Log out', logout_path %></div>
</nav>

<div class="containers-wrapper">
<% unless @containers.nil? || @containers.length == 0 %>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Size</th>
				<th>URL</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<% @containers.each do |container| %>
				<tr>
					<td><%= container.id %></td>
					<td><%= container.filename %></td>
					<td><%= container.file.size %></td>
					<td><%= link_to 'Link', root_url + container.file.url %></td>
					<td><%= link_to 'Destroy', delete_file_path(container.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>

<%if false%>
<input type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple />
	
<%end%>
	<div class="upload-form-wrapper">

		<%= form_tag(upload_file_path, method: :post, multipart: true) do %>
			<%= file_field(:container,
											:files,
											:multiple => true,
											"data-multiple-caption" => "{count} Files selected",
											:class => "inputfile inputfile-1") %>
			<%= label(:container, :files) do %>
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> <span>Choose a file&hellip;</span>
			<% end %>

			<%= submit_tag("Upload", id: :submit_ , class: :inputfile) %>
			<%= label(:submit, nil) do %>
				<span>Upload</span>
			<% end %>
		<% end %>
	</div>
</div>